@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap'); */

@page {
    size: A4 portrait; /* auto is the initial value */
    margin: 0mm; /* this affects the margin in the printer settings */
}

@media print {
    .centerOnPrintedPage {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 99vh;
    }

    header, footer, nav, aside, form, .noPrint {
        display: none;
    }

    body {
        background-color: none;
    }
}

body {
    /* to center on page */
    max-width: max-content;
    margin: auto;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

p {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

text {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Roboto Condensed", sans-serif;
}

.centerOnPrintedPage {
    text-align: center;
}

    .errorMsg {
    color: red;
    font-weight: bold;
    display: none;
}

.errorTextInput {
    border-color: red;
    background: lightpink;
}

.formTable {
    border-collapse: collapse;
    text-align: center;
    width: 100%
}

.formCell {
    border: 1px solid black;
    padding: 2px 5px 2px 5px;
}

input[type=text] {
    text-align: center;
}

.abo {
    font-weight: bold;
    /*font-stretch: normal;*/
    font-size: 26.8111px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-anchor: middle;
    /* stroke-width: 1.165; */
    stroke-width: 1.0;
}

g#group_label.pos .abo {
    stroke: none;
    fill: black;
}

g#group_label.neg .abo {
    stroke: black;
    fill: none;
}

.rhdText {
    font-weight: bold;
    /*font-stretch: normal;*/
    font-size: 5.29167px;
    font-family: "Roboto", sans-serif;
    text-align: start;
    text-anchor: middle;
    stroke: none;
}

g#group_label.pos .rhdText {
    fill: black
}

g#group_label.neg .rhdText {
    fill: white
}

.rhdBackground {
    display: inline;
    opacity: 1;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 1;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

g#group_label.pos .rhdBackground {
    fill: white;
}

g#group_label.neg .rhdBackground {
    fill: black;
}

.packText {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3.175mm;
    font-weight: bold;
    /*font-stretch: condensed;*/
    text-align: left;
    color: white;
    margin: 0;
    padding-left: 1.2mm;
    padding-right: 1.2mm;
}

.packBackground {
    opacity: 1;
    fill: black;
    fill-opacity: 1;
    stroke: none;
}

.pathEmbossed {
    opacity: 0.5;
    fill: none;
    stroke: black;
    stroke-width: 0.5;
}

.pathLines2px {
    fill: none;
    stroke: black;
    stroke-width: 0.5;
}

.pathLines1px {
    fill: none;
    stroke: black;
    stroke-width: 0.265;
}

.pathBagOutline {
    fill: white;
    fill-opacity: 0.75;
    stroke: black;
    stroke-width: 0.5;
}

.rhPhenText {
    font-weight: bold;
    /*font-stretch: condensed;*/
    font-size: 3.175px;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    text-anchor: middle;
    fill: black;
    stroke: none;
}

.text1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.85839mm;
    font-weight: bold;
    /*font-stretch: condensed;*/
    text-align: left;
    margin: 0;
    padding-left: 1.2mm;
    padding-right: 1.2mm;
}

.text2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2.82222mm;
    font-weight: bold;
    /*font-stretch: condensed;*/
    text-align: left;
    margin: 0;
    padding-left: 1.2mm;
    padding-right: 1.2mm;
}

#product_text_fo {
	display:block; 
	font-family: "Roboto Condensed", sans-serif;
	font-size: 3.175mm; 
	letter-spacing:0px; 
	font-weight: bold; 
	/*font-stretch: condensed;*/ 
	text-align: left; 
	margin: 0; 
	padding-left: 1.2mm; 
	padding-right: 1.2mm; 
	padding-top: 0.6mm;
}

#volume_text_fo {
	font-family: "Roboto Condensed", sans-serif;
	font-size:3.175mm; 
	font-weight:bold; 
	/*font-stretch: condensed;*/ 
	text-align:right; 
	margin:0; 
	padding-left :1.2mm; 
	padding-right :5mm;
}

.bag_mfg_text {
	font-family: "Roboto", sans-serif;
	/*font-stretch: normal;*/ 
	text-align:center; 
	text-anchor:middle; 
	fill:black; 
	stroke:none;
}

#irradiated_sticker text {
	font-family: "Roboto", sans-serif;
	/*font-stretch: normal;*/ 	
}