@page {
    size: A4 portrait; /* auto is the initial value */
    margin: 0mm; /* this affects the margin in the printer settings */
}

@media print {
    div.centerOnPrintedPage {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 99vh;
    }

    header, footer, nav, aside, form, .form {
        display: none;
    }

    body {
        background-color: none;
    }
}

body {
    /* to center on page */
    max-width: max-content;
    margin: auto;
    background-color: lightblue;
    font-family: sans-serif;
}

.errorMsg {
    color: red;
    font-weight: bold;
    display: none;
}

.errorTextInput {
    border-color: red;
    background: lightpink;
}

.formCell {
    border: 1px solid black;
    padding: 2px 5px 2px 5px;
}

.abo {
    font-weight: bold;
    font-stretch: condensed;
    font-size: 26.8111px;
    font-family: sans-serif;
    text-align: center;
    text-anchor: middle;
    stroke-width: 1.165;
}

g#group_label.pos .abo {
    stroke: none;
    fill: black;
}

g#group_label.neg .abo {
    stroke: black;
    fill: none;
}

.rhdText {
    font-weight: bold;
    font-stretch: normal;
    font-size: 5.29167px;
    font-family: sans-serif;
    text-align: start;
    text-anchor: middle;
    stroke: none;
}

g#group_label.pos .rhdText {
    fill: black
}

g#group_label.neg .rhdText {
    fill: white
}

.rhdBackground {
    display: inline;
    opacity: 1;
    fill-opacity: 1;
    stroke: none;
    stroke-width: 1;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

g#group_label.pos .rhdBackground {
    fill: white;
}

g#group_label.neg .rhdBackground {
    fill: black;
}

.svg-path1 {
    opacity: 0.5;
    fill: none;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000;
    stroke-width: 0.5;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    stroke-opacity: 1
}

.svg-path2 {
    opacity: 1;
    fill: none;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000;
    stroke-width: 0.5;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    stroke-opacity: 1
}

.svg-path3 {
    opacity: 1;
    fill: #fff;
    fill-opacity: 0.75;
    fill-rule: nonzero;
    stroke: #000;
    stroke-width: 0.5;
    stroke-dasharray: none;
    stroke-dashoffset: 0;
    stroke-opacity: 1
}

.svg-path4 {
    opacity: 1;
    fill: none;
    stroke: #000;
    stroke-width: 0.5;
    stroke-opacity: 1
}

.svg-path5 {
    opacity: 1;
    fill: none;
    fill-opacity: 1;
    stroke: #000;
    stroke-width: 0.5;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.svg-path6 {
    opacity: 0.5;
    fill: none;
    fill-opacity: 1;
    stroke: #000;
    stroke-width: 0.5;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.svg-path7 {
    opacity: 1;
    fill: none;
    fill-opacity: 0.75;
    stroke: #000;
    stroke-width: 0.5;
    stroke-dasharray: none;
    stroke-opacity: 1
